<!DOCTYPE HTML>
<html>
    <head>
    </head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!--호출코드에서 / 절대영역 src/main/resources/static에서 시작됨-->
</body>
</html>